<log4net>
	<appender name="Console" type="log4net.Appender.ConsoleAppender">
		<!--<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date| %-5level| TraceId:%property{traceId}| Thread:[%thread]| Class:%logger | Method:%method | File:%file:%line | User:%identity | AppDomain:%appdomain | %message%newline" />
		</layout>-->
		<layout type="TheradexPortal.Middleware.Log4NetJsonLayout">
			<!--<conversionPattern value="%date| %-5level| TraceId:%property{traceId}| Thread:[%thread]| Class:%logger | Method:%method | File:%file:%line | User:%identity | AppDomain:%appdomain | %message%newline" />-->
		</layout>
		<filter type="log4net.Filter.LoggerMatchFilter">
			<loggerToMatch value="TheradexPortal.Data.ThorDBContext" />
			<acceptOnMatch value="false" />
		</filter>
		<filter type="log4net.Filter.LoggerMatchFilter">
			<loggerToMatch value="TheradexPortal.Middleware.Log4NetTraceIdMiddleware" />
			<acceptOnMatch value="false" />
		</filter>
		<filter type="log4net.Filter.LoggerMatchFilter">
			<loggerToMatch value="TheradexPortal.Middleware.LogResponseMiddleware" />
			<acceptOnMatch value="false" />
		</filter>
	</appender>
	<appender name ="AWS" type="AWS.Logger.Log4net.AWSAppender, AWS.Logger.Log4net">
		<LogGroup>/ecs/nci-web-reporting-dev-service</LogGroup>
		<Region>us-east-1</Region>
		<layout type="log4net.Layout.PatternLayout">
			<!--<conversionPattern value="%date %-5level %logger - TraceId: %property{traceId} - %message%newline" />-->
			<conversionPattern value="%date| %-5level| TraceId:%property{traceId}| Thread:[%thread]| Class:%logger | Method:%method | File:%file:%line | User:%identity | AppDomain:%appdomain | %message%newline" />

		</layout>
		<filter type="log4net.Filter.LoggerMatchFilter">
			<loggerToMatch value="TheradexPortal.Data.ThorDBContext" />
			<acceptOnMatch value="false" />
		</filter>
	</appender>

	<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
		<file value="Logs/logfile.txt" />
		<appendToFile value="false" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="10" />
		<maximumFileSize value="50MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date| %-5level| TraceId:%property{traceId}| Thread:[%thread]| Class:%logger | Method:%method | File:%file:%line | User:%identity | AppDomain:%appdomain | %message%newline" />
		</layout>
	</appender>

	<root>
		<level value="DEBUG" />
		<appender-ref ref="Console" />
		<appender-ref ref="RollingFileAppender" />
		<appender-ref ref="AWS" />
	</root>
</log4net>