@page "/login"
@layout LoginLayout

<Container Position="Position.Absolute.Top.Is50.Start.Is50.Translate.Middle">
    <Row>
        <Column ColumnSize="ColumnSize.Is4.Is4.WithOffset">
            <Card>
                <CardBody>
                    <CardTitle Size="5">
                        Web Reporting 3.0
                    </CardTitle>
                </CardBody>
                <CardBody>
                    <Validations @ref="@loginValidationsRef" Mode="ValidationMode.Manual" ValidateOnLoad="false">
                        <Validation Validator="ValidationRule.IsEmail">
                            <Field>
                                <FieldLabel>Email</FieldLabel>
                                <TextEdit @bind-Text="@email" Placeholder="Enter email">
                                    <Feedback>
                                        <ValidationError>Invalid Email</ValidationError>
                                    </Feedback>
                                </TextEdit>
                            </Field>
                        </Validation>
                        <Validation Validator="ValidationRule.IsNotEmpty">
                            <Field>
                                <FieldLabel>Password</FieldLabel>
                                <TextEdit @bind-Text="@password" Placeholder="Enter password" />
                            </Field>
                        </Validation>
                        <Link To="/forgotpassword">Forgot Password</Link>
                    </Validations>
                </CardBody>
                <CardBody>
                    <Div Class="mb-2" Flex="Flex.JustifyContent.Center">
                        <Button Flex="Flex.JustifyContent.Center" Block Color="Color.Info" Clicked="@OnLoginClicked">Sign In</Button>
                    </Div>
                </CardBody>
            </Card>
        </Column>
    </Row>
</Container>

@code {
    Validations? loginValidationsRef;

    private string? email;
    private string? password;

    async Task OnLoginClicked()
    {
        //redirect to theradex login
        if (await loginValidationsRef.ValidateAll())
        {
            // do the real login here

            await loginValidationsRef.ClearAll();
        }
    }
}