@using TheradexPortal.Data.Models;
@using TheradexPortal.Data.Services.Abstract;
@using TheradexPortal.Data.Static;
@layout AdminLayout

@page "/admin/dashboards"
<Div Background="Background.Primary" TextColor="TextColor.Light" Class="p-1"><h2>Dashboard List</h2></Div>
@code {

}
