@inherits LayoutComponentBase

<Div Class="nci-main-wrapper">
    <Layout Class="nci-main-layout">
        <LayoutContent>
            @Body
        </LayoutContent>
        <LayoutFooter>
            <Footer />
        </LayoutFooter>
    </Layout>
</Div>