@page "/forgotpassword"
@layout LoginLayout

<Container Position="Position.Absolute.Top.Is50.Start.Is50.Translate.Middle">
    <Row>
        <Column ColumnSize="ColumnSize.Is4.Is4.WithOffset">
            <Card>
                <CardBody>
                    <CardTitle Size="5">
                        NCI Oncology Data Hub 1.0
                    </CardTitle>
                </CardBody>
                <CardBody>
                    <Validations @ref="@forgotValidationsRef" Mode="ValidationMode.Manual" ValidateOnLoad="false">
                        <Validation Validator="ValidationRule.IsEmail">
                            <Field>
                                <FieldLabel>Email</FieldLabel>
                                <TextEdit @bind-Text="@email" Placeholder="Enter email">
                                    <Feedback>
                                        <ValidationError>Invalid Email</ValidationError>
                                    </Feedback>
                                </TextEdit>
                            </Field>
                        </Validation>
                    </Validations>
                </CardBody>
                <CardBody>
                    <Div Class="mb-2" Flex="Flex.JustifyContent.Center">
                        <Button Flex="Flex.JustifyContent.Center" Block Color="Color.Info" Clicked="@OnClicked">Reset Password</Button>
                    </Div>
                </CardBody>
            </Card>
        </Column>
    </Row>
</Container>

 @code {
    Validations? forgotValidationsRef;

    private string? email;

    async Task OnClicked()
    {
        //redirect to theradex login
        if (await forgotValidationsRef.ValidateAll())
        {
            // do the real login here

            await forgotValidationsRef.ClearAll();
        }
    }
}