@using TheradexPortal.Data.Identity;
@inherits LayoutComponentBase
@inject IConfiguration configuration
@inject IHttpContextAccessor httpContextAccessor

<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            <AuthorizeView Policy="IsRegistered">
                <Authorized Context="RegisteredAuth">
                     @Body
                </Authorized>
                <NotAuthorized Context="RegisteredAuth">
                    <LayoutView Layout="@typeof(LoginLayout)">
                    <Div Flex="Flex.JustifyContent.Center.AlignItems.Center" Height="Height.Is75">
                        <Card Margin="Margin.Is5.FromBottom.Is5.FromTop" Width="Width.Is50" Class="text-center">
                            <CardBody Margin="Margin.Is5">
                                <CardImage Source="img/theradex-logo.png" Alt="Card image cap 3" Width="Width.Is50"></CardImage>
                                <CardTitle Margin="Margin.Is4.FromBottom" Size="3">
                                    Unable to complete login process
                                </CardTitle>
                                <CardText>
                                    <p>We apoligize, but you do not have access to the Theradex Web Reporting system at this time.<BR>
                                        If you need assistance, please contact us at <a href="mailto:@supportEmail">support.webreporting@theradex.com</a>.</p>
                                </CardText>
                                <Button Color="Color.Primary" Margin="Margin.Is5.FromTop" Clicked="@OnHomeClicked">
                                    Home
                                </Button>
                            </CardBody>
                        </Card>
                    </Div>
                </LayoutView>
                </NotAuthorized>
            </AuthorizeView>
        </Authorized>
        <NotAuthorized>
            <RedirectToLogin />
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>

@code {
    [Inject] public NavigationManager Navigation { get; set; }
    private string supportEmail = "";

    protected override async Task OnInitializedAsync()
    { 
        supportEmail = configuration.GetValue<string>("EmailSettings:SupportEmail");

        await base.OnInitializedAsync();
    }

    Task OnHomeClicked()
    {
        Navigation.NavigateTo($"Signout", true);

        return Task.CompletedTask;
    }
}
