@page "/dashboard"
@layout MainLayout

@using System.Net.Http
@using System.Threading.Tasks
@using TheradexPortal.Data
@using TheradexPortal.Data.PowerBI

@inject PbiInterop pbiInterop


<h3>Sample Dashboard</h3>
<div @ref="@PowerBIElement" style="width:100%;height:80vh" />


@code {
    private ElementReference PowerBIElement;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {           
            await pbiInterop.EmbedReportJS("MainDashboard", PowerBIElement);
        }
    }
}