@page "/myfavorites"
@attribute [Route(ThorConstants.FAVORITE_PAGE_PATH + "/{userfavoriteid:int}/{dashboardid:int}/{reportid:int?}")]
@layout SecondaryNavLayout
@inject IHttpContextAccessor httpContextAccessor
@inject IConfiguration configuration

@using System.Net.Http
@using System.Threading.Tasks
@using TheradexPortal.Data;
@using TheradexPortal.Data.Models;
@using TheradexPortal.Data.PowerBI.Abstract;
@using TheradexPortal.Data.Services.Abstract;
@using TheradexPortal.Data.ViewModels;
@using TheradexPortal.Data.Static;
@if(notFound)
{
    <LayoutContent>
        <Container Fluid Class="mt-2 text-center">
            <NotFound />
        </Container>
    </LayoutContent>
}
else
{
    <PageTitle>My Favorites</PageTitle>
    <LayoutSider>
        <MyFavoriteNav Actions="Actions" />
    </LayoutSider>
     <LayoutContent>
        <Container Fluid Class="mt-2">
             @if (report != null && report.IsFullPage)
            {
                <PowerBiFullReport Dashboard="dashboard" Report="report" @ref="fullReportRef" />
            }
            else if (report != null)
            {
                <PowerBiCustomLayout Dashboard="dashboard" Report="report" @ref="customReportRef" />
            }
        </Container>
    </LayoutContent>
    <Modal @ref="removeModalRef">
        <ModalContent Centered Size="ModalSize.Large">
            <ModalHeader Background="Background.Primary" TextColor="TextColor.Light">
                <ModalTitle>Remove Favorite: @favoriteToRemove</ModalTitle>
                <CloseButton />
            </ModalHeader>
            <ModalBody>
                Warning:  Continuing will remove this user favorite.
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Light" Clicked="@HideRemoveModal">Cancel</Button>
                <Button Color="Color.Danger" Clicked="@RemoveFavorite">Remove</Button>
            </ModalFooter>
        </ModalContent>
    </Modal>
}
<StudyOverview @ref="studyOverview" />

@code {
    [Inject] private IDashboardService dashboardService { get; set; } = null!;
    [Inject] private IStudyService studyService { get; set; } = null!;
    [Inject] private IUserService userService { get; set; } = null!;
    [Inject] private NavigationManager navigation { get; set; } = null!;
    [Inject] INotificationService NotificationService { get; set; }

    [Parameter] public int UserFavoriteId { get; set; }
    [Parameter] public int DashboardId { get; set; }
    [Parameter] public int ReportId { get; set; }

    [CascadingParameter]
    public PrimaryNavLayout PrimaryNavLayout { get; set; }

    private bool notFound = false;
    private StudyOverview? studyOverview;
    private PowerBiCustomLayout? customReportRef;
    private PowerBiFullReport? fullReportRef;
    private Modal removeModalRef;

    private TheradexPortal.Data.Models.Dashboard? dashboard;
    private IList<Report> allReports = new List<Report>();
    private Report? report;
    private string dashboardName;
    private string reportName;
    private string helpFileUrl;
    private bool helpFileFound;
    private int currentDashboardId;
    private int userId;
    private int previousReport = 0;

    private int? _userfavoriteId;
    private int? _dashboardId;
    private int? _reportId;
    private bool _saveHistory;
    private string favoriteToRemove;

    private IList<SecondaryNavAction> Actions => new List<SecondaryNavAction>
    {
        new SecondaryNavAction
        {
            IconName = IconName.Eye,
            Label = "Study Overview",
            OnClick = ShowOverview
        },
        new SecondaryNavAction
        {
            IconName = IconName.Download,
            Label = "Dashboard Help",
            Target = Target.Blank,
            To = this.getHelpUrl(),
            ShowAction = this.helpFileFound
        },
          new SecondaryNavAction
        {
            IconName = IconName.Star,
            Label = "Remove Favorite",
            OnClick = ShowRemoveModal
        },
    };

    protected override void OnInitialized()
    {
        if (fullReportRef != null)
        {
            _userfavoriteId = UserFavoriteId;
            _dashboardId = DashboardId;
            _reportId = ReportId;
            _saveHistory = true;
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        _saveHistory = false;
        notFound = false;

        if (fullReportRef != null)
        {
            if (_dashboardId != DashboardId || _reportId != ReportId)
            {
                fullReportRef.RefreshReport = true;
                _dashboardId = DashboardId;
                _reportId = ReportId;
                _saveHistory = true;
            }
            else
                fullReportRef.RefreshReport = false;
        }

        // Determine if user has access to requested dashboard & report
        bool isAdmin = httpContextAccessor.HttpContext.User.HasClaim(ThorClaimType.IsAdmin, "True");
        string userDashboards = httpContextAccessor.HttpContext.User.FindFirst(ThorClaimType.Dashboards).Value;
        string userReports = httpContextAccessor.HttpContext.User.FindFirst(ThorClaimType.Reports).Value;
        userId = Convert.ToInt32(httpContextAccessor.HttpContext.User.FindFirst(ThorClaimType.UserId).Value);

        if (DashboardId == 0)
        {
            UserFavorite ufItem = userService.GetUserFavoriteFirstDashboardReport(userId, isAdmin);
            if(ufItem !=  null)
            {
                navigation.NavigateTo($"{ThorConstants.FAVORITE_PAGE_PATH}/{ufItem.UserFavoriteId}/{ufItem.DashboardId}/{ufItem.ReportId}", new NavigationOptions
                    {
                        ReplaceHistoryEntry = true,
                        ForceLoad = true
                    });
            }
            else
            {
                return;
            }
        }
        dashboard = await dashboardService.GetDashboardByIdAsync(DashboardId, userDashboards, isAdmin);
        if(dashboard == null)
        {
            return;
        }
        await PrimaryNavLayout.ClearDashboardAlerts();
        PrimaryNavLayout.DashboardName = dashboard.Name;
        if (dashboard == null && !isAdmin)
        {
            notFound = true;
            return;
        }

        allReports = await dashboardService.GetReportsByDashboardIdForUserAsync(DashboardId, userId, isAdmin);
        if (ReportId == 0)
        {
            report = allReports.FirstOrDefault();
            if (report == null)
            {
                notFound = true;
                return;
            }
            navigation.NavigateTo($"{ThorConstants.FAVORITE_PAGE_PATH}/{UserFavoriteId}/{dashboard.DashboardId}/{report.ReportId}", new NavigationOptions
                {
                    ReplaceHistoryEntry = true,
                    ForceLoad = true
                });

            _saveHistory = false;
        }
        else
        {
            report = allReports.FirstOrDefault(r => r.ReportId == ReportId);
            if (report == null)
            {
                notFound = true;
                return;
            }
        }

        if (String.IsNullOrEmpty(report.SubMenuName))
            PrimaryNavLayout.ReportName = report.Name;
        else
            PrimaryNavLayout.ReportName = report.Name + "-" + report.SubMenuName;

        // Check if at least one study has been selected by the user
        string currentStudies = studyService.GetCurrentStudiesForUser(userId);

        if (currentStudies == null || currentStudies.Length == 0)
            navigation.NavigateTo("Studies");
        else
        {
            // First navigation to Dashboard creates a duplicate record.
            if (_saveHistory && report.ReportId != 0)
            {
                userService.SaveActivityLog(userId, ThorActivityType.Navigation, "My Favorites", report.Name + ((String.IsNullOrEmpty(report.SubMenuName)) ? "" : "-" + report.SubMenuName));
                previousReport = report.ReportId;
                _saveHistory = false;
            }
        }
    }

    private async void ShowOverview()
    {
        var studies = studyService.GetSelectedStudiesForUser(userId);
        studyOverview?.ShowStudies(studies);
    }

    private string getHelpUrl()
    {
        // Minimize SQL calls
        if (this.helpFileUrl == null || this.helpFileUrl.Equals(string.Empty) || currentDashboardId != this.DashboardId)
        {
            currentDashboardId = this.DashboardId;
            this.helpFileUrl = configuration.GetValue<string>("System:DashboardHelpURL");
            var helpFileName = this.dashboardService.GetDashboardHelpFileName(this.DashboardId).Result;
            if (!helpFileName.Equals(string.Empty))
            {
                this.helpFileFound = true;
            }
            else
            {
                this.helpFileFound = false;
                helpFileName = configuration.GetValue<string>("System:DashboardHelpURLDefault");
            }
            this.helpFileUrl += helpFileName;
            this.helpFileUrl = string.Format("javascript:void(window.open('" + this.helpFileUrl + "','_blank'));");
        }

        return this.helpFileUrl;
    }

    private async void ShowRemoveModal()
    {
        favoriteToRemove = userService.GetUserFavoriteNamesByID(UserFavoriteId);
        await removeModalRef.Show();        
    }

    private Task HideRemoveModal()
    {
        return removeModalRef.Hide();
    }

    private async void RemoveFavorite()
    {
        int userId = userId = Convert.ToInt32(httpContextAccessor.HttpContext.User.FindFirst(ThorClaimType.UserId).Value);
        bool result = userService.RemoveFavorite(userId, UserFavoriteId);
        if (result)
        {
            await NotificationService.Success("Report has been removed successfully from My Favorites Dashboard");
        
            bool isAdmin = httpContextAccessor.HttpContext.User.HasClaim(ThorClaimType.IsAdmin, "True");
            if (userService.GetUserFavoriteList(userId, isAdmin).Count > 0)
            {
                navigation.NavigateTo($"{ThorConstants.FAVORITE_PAGE_PATH}", new NavigationOptions
                    {
                        ReplaceHistoryEntry = true,
                        ForceLoad = true
                    });
            }
            else
            {
                navigation.NavigateTo($"studies", new NavigationOptions
                    {
                        ReplaceHistoryEntry = true,
                        ForceLoad = true
                    });
            }
        }
    }
}
    
