@inject IConfiguration configuration

<Container Fluid Background="Background.Light">
     <Divider />
     <Div Flex="Flex.JustifyContent.Between.AlignItems.Center" Class="py-0 nci-footer">
         <Paragraph Class="">
             <a href="@privacyPolicyLink" target="_blank" class="hover:underline">Privacy/Cookie Policy</a>
         </Paragraph>
         <Paragraph Class="">
             ©@DateTime.Now.Date.Year <a href="https://theradex.com/" class="hover:underline" target="_blank">Theradex Oncology</a>. All Rights Reserved. | @versionInfo
        </Paragraph>
    </Div>
</Container>


@code {
    private string versionInfo = "";
    private string privacyPolicyLink = "";

    protected override async Task OnInitializedAsync()
    {
        versionInfo = configuration.GetValue<string>("System:VersionInfo");
        privacyPolicyLink = configuration.GetValue<string>("System:PrivacyPolicyURL");
    }
}
