@inject IConfiguration configuration

<Container Fluid Background="Background.Light">
    <Divider />
    <Div Flex="Flex.JustifyContent.Between.AlignItems.Center" Class="py-0 nci-footer">
        <Paragraph Class="">
             <a href="privacy" target="_blank" class="hover:underline">Privacy Policy</a> | <a href="cookies" target="_blank" class="hover:underline">Cookie Policy</a>
        </Paragraph>
        <Paragraph Class="">
             ©@DateTime.Now.Date.Year <a href="https://theradex.com/" class="hover:underline" target="_blank">Theradex Oncology</a>. All Rights Reserved. | @versionInfo
        </Paragraph>
        <Paragraph Class="mx-1">
            <a href="https://www.linkedin.com/company/theradex" class="hover:underline" target="_blank">Connect with us <Icon Name="@("fab fa-linkedin")" IconSize="IconSize.Large" /></a>
        </Paragraph>
    </Div>
</Container>


@code {
    private string versionInfo = "";

    protected override async Task OnInitializedAsync()
    {
        versionInfo = configuration.GetValue<string>("System:VersionInfo");
    }
}
