
<Container Fluid Background="Background.Light">
    <Divider />
    <Div Flex="Flex.JustifyContent.Between.AlignItems.Center" Class="py-0 nci-footer">
        <Paragraph Class="">
            <a href="#" class="hover:underline">Privacy Policy</a> | <a href="#" class="hover:underline">Cookie Policy</a>
        </Paragraph>
        <Paragraph Class="">
             ©@DateTime.Now.Date.Year <a href="https://theradex.com/" class="hover:underline">Theradex Oncology</a>. All Rights Reserved.
        </Paragraph>
        <Paragraph Class="mx-1">
            <a href="https://www.linkedin.com/company/theradex" class="hover:underline">Connect with us <Icon Name="@("fab fa-linkedin")" IconSize="IconSize.Large" /></a>
        </Paragraph>
    </Div>
</Container>


@code {

}
