@inherits LayoutComponentBase

<Layout>
    <LayoutHeader>
        <Bar Background="Background.Light">
            <BarBrand>
                <Figure>
                    <FigureImage Class="max-h-10" Source="img/theradex-logo.png" AlternateText="Theradex Oncology" />
                </Figure>
            </BarBrand>
            <BarEnd>
                <BarItem>
                    <BarLink To="#Notifications">
                        <Icon Name="IconName.ExclamationCircle" IconSize="IconSize.Large" />
                    </BarLink>
                </BarItem>
                <BarItem>
                    <BarLink To="#Notifications">
                        <Icon Name="IconName.InfoCircle" IconSize="IconSize.Large" />
                    </BarLink>
                </BarItem>
                <BarItem>
                    <BarLink To="#Profile">
                        <Icon Name="IconName.UserCircle" IconSize="IconSize.Large" />
                    </BarLink>
                </BarItem>
            </BarEnd>
        </Bar>
    </LayoutHeader>
    <LayoutContent>
        @Body
    </LayoutContent>
    <LayoutFooter>
        <Footer />
    </LayoutFooter>
</Layout>

<!--<AuthorizeView>
    <Authorized>
        <NavMenu />
        <main>
            <div class="container-fluid py-3 px-3 px-lg-5">
                @Body
            </div>
        </main>
    </Authorized>
    <NotAuthorized>
        <RedirectToLogin />
    </NotAuthorized>
</AuthorizeView>-->