@inherits LayoutComponentBase

<Layout Sider Style="background-image: url('img/Exploration_Pattern2_Bold.jpg'); background-size:cover;">
    <LayoutSider>
        <LayoutSiderContent>
            <Bar @ref="@sidebar" Breakpoint="Breakpoint.Desktop" NavigationBreakpoint="Breakpoint.Desktop" ThemeContrast="ThemeContrast.Light" Shadow="Shadow.Default"
                 Mode="BarMode.VerticalInline" CollapseMode="BarCollapseMode.Hide">
                 <BarBrand>
                    <BarItem>
                        <BarLink To="">
                            Dashboards
                        </BarLink>
                    </BarItem>
                </BarBrand>
                 <BarMenu>
                    <BarStart>
                        <BarItem>
                            <BarLink To="/dashboard#home">My Studies</BarLink>
                        </BarItem>
                        <BarItem>
                            <BarLink To="/dashboard#docs">Custom Layout</BarLink>
                        </BarItem>
                        <BarItem>
                            <BarLink To="#docs">Full Report</BarLink>
                        </BarItem>
                    </BarStart>
                </BarMenu>
            </Bar>
        </LayoutSiderContent>
    </LayoutSider>
    <Layout>
        <LayoutHeader>
            <Bar Breakpoint="Breakpoint.Desktop" Background="Background.Light">
                <BarToggler Bar="@sidebar" />
                <BarBrand>
                    <Figure>
                        <FigureImage Class="max-h-10" Source="img/theradex-logo.png" AlternateText="Theradex Oncology" />
                    </Figure>
                </BarBrand>
                <BarEnd>
                    <BarItem>
                        <BarLink To="#Notifications">
                            <Icon Name="IconName.ExclamationCircle" IconSize="IconSize.Large" />
                        </BarLink>
                    </BarItem>
                    <BarItem>
                        <BarLink To="#Notifications">
                            <Icon Name="IconName.InfoCircle" IconSize="IconSize.Large" />
                        </BarLink>
                    </BarItem>
                    <BarItem>
                        <BarLink To="#Profile">
                            <Icon Name="IconName.UserCircle" IconSize="IconSize.Large" />
                        </BarLink>
                    </BarItem>
                </BarEnd>
            </Bar>

        </LayoutHeader>
        <LayoutContent>
            @Body
        </LayoutContent>
        <LayoutFooter>
            <Footer />
        </LayoutFooter>
    </Layout>
</Layout>

<!--<AuthorizeView>
    <Authorized>
        <NavMenu />
        <main>
            <div class="container-fluid py-3 px-3 px-lg-5">
                @Body
            </div>
        </main>
    </Authorized>
    <NotAuthorized>
        <RedirectToLogin />
    </NotAuthorized>
</AuthorizeView>-->

@code {
    private Bar? sidebar;
}