<nav class="navbar navbar-expand-lg navbar-light bg-light mb-1">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/img/theradex-logo-symbol.png" alt="" width="50" height="auto" class="mx-2 align-middle">
            Theradex Portal
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="dashboard">Dashboard</NavLink>
                </li>
            </ul>
            <NavLink class="btn btn-outline" href="auth/logout">
                <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
            </NavLink>
        </div>
    </div>
</nav>

@code {

}
