<Div Flex="Flex.JustifyContent.Center.AlignItems.Center" Height="Height.Is75">
    <Card Margin="Margin.Is5.FromBottom.Is5.FromTop" Width="Width.Is50" Class="text-center">
        <CardBody Margin="Margin.Is5">
            <CardTitle Margin="Margin.Is4.FromBottom" Size="1">
                Not Found
            </CardTitle>
            <CardText>
                <h5>Sorry, the requested page could not be found. Please try again. </h5>
            </CardText>
            <Button Color="Color.Primary" Margin="Margin.Is5.FromTop" Type="ButtonType.Link" To="/">
                Home 
            </Button>
        </CardBody>
    </Card>
</Div>

@code {

}
