@inherits LayoutComponentBase

<PageTitle>Theradex Portal</PageTitle>

<div class="page">
    <main class="content">
        <div class="container">
            @Body
        </div>
    </main>
</div>
