<h3>RedirectToLogin</h3>

@code {
    [Inject] public NavigationManager Navigation { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var returnUrl = Navigation.ToBaseRelativePath(Navigation.Uri);

        Navigation.NavigateTo($"Login?returnUrl={returnUrl}", true);
        //Navigation.NavigateTo($"Login?returnUrl={returnUrl}", true);
    }
}
