@using System.Diagnostics.CodeAnalysis
@using Microsoft.Extensions.Options
@using Newtonsoft.Json

@page "/upload/{dashboardid:int}/{reportid:int?}"

<Div Background="Background.Primary" TextColor="TextColor.Light" Class="p-1"><h2>Welcome to the ETCTN Data Uploads in OARS!</h2></Div>
<Div Padding="Padding.Is2" Background="Background.Light">
    <ListGroup Flush Padding="Padding.Is2">
         <ListGroupItem>
             <Div Padding="Padding.Is2">
                 <Heading Size="HeadingSize.Is4">Instructions</Heading>
                 <Paragraph Margin="Margin.Is1.FromBottom.Is3.FromStart">Please begin by selecting the Protocol and Source Site using the dropdown menus.</Paragraph>
                 <Paragraph Margin="Margin.Is1.FromBottom.Is3.FromStart">Next, select the appropriate case report form (CRF) using the radio buttons and use the adjacent dropdown menu to choose an applicable Assay or Receiving Site.</Paragraph>
                 <Paragraph Margin="Margin.Is1.FromBottom.Is3.FromStart">Located below the CRF selectors are links for Downloading blank csv templates and general Instructions.</Paragraph>
                 <Paragraph Margin="Margin.Is1.FromBottom.Is3.FromStart">Finally, click on “Choose file” to search your computer for the csv file of interest and once it’s ready, click on “Submit.”</Paragraph>
                 <Paragraph Margin="Margin.Is1.FromBottom.Is3.FromStart">Also, there is a “Reset” button if it’s necessary to change the selected csv file prior to submitting the file to upload.</Paragraph>
             </Div>
         </ListGroupItem>
     </ListGroup>
 </Div>

 @code {
    [Parameter] public int DashboardId { get; set; }
    [Parameter] public int ReportId { get; set; }
 }