@page "/cookies"
@layout PolicyLayout

<Div>
    <Div style=" text-align: center; margin-left:-100px;   ">
        <br style="height:100px" />
        <h3>Website Cookie Policy</h3>     
        <img src="img/theradex-logo.png" />
        <Div Style="display:block; margin-left:200px; margin-right: auto; margin-top:20px;margin-bottom:20px; width:80%;  border-bottom: 5px solid #F68C2C;"></Div>     
    </Div>
    <Div style="text-align: left; padding-left:100px;  ">
    <p>This website is operated by, or on behalf of Theradex Oncology.</p>
    <p style="width:90%">In the spirit of transparency, and to comply with the EU and UK General Data Protection Regulation (GDPR), 
        the Privacy and Electronic Communication Regulation 2003 (PECR) and the EU e-Privacy Regulations, 
        this policy describes our use of cookies and other similar technologies on our website. It should be read in conjunction with our Website Privacy Notice.
    </p>

    <ol>
        <li><b> What Information We Collect and How We Use It</b> </li>
        <Div style="width:90%; margin-left:-30px;">
             <p >
                When you visit our website <a href="http://www.theradex.com" target="_blank">www.theradex.com</a> we use technology to collect information to help us provide you with a good experience when navigating the site and to help us to improve the site and any services that we provide via the site. 
                This means that when you visit this website, cookies or similar technologies may be placed on your device/computer, where you have accepted to do so via the website cookie banner that is displayed when you first open the site. 
                So that you know more about the technologies used and can make informed decisions about how your data is collected, we have provided a description of these.
            </p>
            <p >
                    Please note that the website may have links to other 3rd party websites. We do not have control over how your data is collected via these websites and advise you to check their privacy/cookie policies.
                </p>
        </Div>
            <li><b>What Are Cookies</b> </li>
            <Div style="width:90%; margin-left:-30px;">
            <p>
                Cookies are small text files that are placed on your computer or device (smart phone, tablet, etc) when you visit a website.
                They are widely used in order to make websites work better, as well as provide valuable information to the owners of the website.
            </p>
            </Div>
        <li><b> How We Use Cookie Data</b> </li>
         <Div style="width:90%; margin-left:-30px;">
            <p >
                Cookies allows us to recognise users (where appropriate), tailor the content on our website and help to improve its functionality. Without certain types of cookies, the website may not work as efficiently or to its full capacity, which can negatively affect your user experience.
            </p>
            <p >
                We use cookies to obtain information about visitors to the website and about the devices that they they use to access the website.
            </p>
            <p>
                The information gathered includes IP addresses, operating systems, browser types and, depending on the cookie, statistical data about browsing actions and patterns.
            </p>
        </Div>
        <li><b>Types of Cookies and Similar Technologies</b> </li>
            <Div style="width:90%; margin-left:-30px;">
                <p >
                    <b>ESSENTIAL OR “STRICTLY NECESSARY” COOKIES</b>
                </p>
                <p>
                    These are essential to the running and functionality of the website and cannot be disabled, as doing so may affect the performance and function of the site.
                </p>
                <p>
                    <b>PERFORMANCE OR EXPERIENCE COOKIES</b>
                </p>
                <p >
                    These collect information about how visitors use and interact with the website. For example, which pages are visited most often, how many people navigate around the site and if there are any error messages that appear. 
                    They only collect anonymised or aggregated data, that doesn’t identify individuals and are used to improve the way that the site works and the user experience.
                </p>
                <p >
                    <b>FUNCTIONAL OR SESSION COOKIES</b>
                </p>
                <p >
                    These allow the website to remember the preferences and choices a user makes, such as preferred language, region and, where applicable, user name. 
                    They gather information on things you customise and select and retain it for your next visit. 
                    They are not essential but do enhance the user experience and efficiency.
                </p>
                <p>
                    <b>THIRD PARTY COOKIES</b>
                </p>
                <p >
                    Some sections of the website may use 3rd party services and software, such as maps, online videos, social media features, such as a Twitter feed. 
                    Many of these services may set cookies on your browser. 
                    As mentioned, we do not have any control over 3rd party cookies, but you can decline them via the cookie banner.
                </p>
                <p >
                    <b>FLASH COOKIES</b>
                </p>
                <p >
                    These are common in website adverts, video clips and animation. 
                    They enable a website to recognise the users browser when it returns and stores information, such as when a video is launched or viewed.
                </p>
                <p >
                    <b>ADVERTISING COOKIES</b>
                </p>
                <p >
                    These are used to deliver adverts that are deemed to be relevant to you and your interests, based on your previous web browsing history. 
                    They keep track of which adverts have been viewed and control how many times a person is exposed to the same advert, whilst tracking the effectiveness of advertising and marketing campaigns. 
                    The information gathered is then used for remarketing, by customising the adverts a user will see on other websites.
                </p>
                <p >
                    <b>WEB BEACONS</b>
                </p>
                <p >
                    These are “bits” of data that count the number of users who access a website. They allow organisations to see if a cookie has been activated, if a user has clicked through to that website from a link or advert contain in an email. 
                    These are used to identify which emails are of most interest to a customer and track the success of an advertisement or marketing campaign.
                </p>
            </Div>

        <li><b>How You Can Control and Delete Cookies</b> </li>
           <Div style="width:90%; margin-left:-30px;">
            <p>
                Most cookies will help get the best out of our website, however, you can choose to the decline the optional cookies via the Cookie Banner that is present on the website.
            </p>
            <p >
                We may use Google Analytics to gather insights regarding website usage and although this data is anonymous to us and does not identify you, Google may use this raw data for their own purposes, which we cannot control.
            </p>
            <p>
                For your information, as well as declining the optional cookies via the Cookie Banner, you can also opt-out of being tracked by Google Analytics, across all websites, via 
                <a href="http://tools.google.com/dlpage/gaoptout" target="_blank">http://tools.google.com/dlpage/gaoptout</a>
            </p>        
        </Div>
        <li><b>Contact</b> </li>
          <Div style="width:90%; margin-left:-30px;">
            <p >
            If you have any queries about this website or how Theradex Oncology process your personal information, please contact  <a href="mailto:PrivacyDesk@theradex.com">PrivacyDesk@theradex.com </a>
            </p>
         </Div>

    </ol>
    </Div>
</Div>
@code {

}
